#navbar {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.4rem 0;
  color: black;
}

#navbar > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar > a > p {
  margin: 0;
}

a,
a:visited {
  color: unset;
  text-decoration: none;
}

a:hover,
.selected {
  color: #fdb305;
  fill: #fdb305;
}
